/*--------------------------------------------------------------
### TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 COLOUR REFERENCES
1.0 GENERAL
2.0 TYPOGRAPHY
3.0 TOP SECTION
4.0 JUMBOTRONS
5.0 HOMEPAGE WIDGETS
6.0 FOOTER
7.0 EVENTS PAGE
8.0 NEWS PAGE
X.0 MEDIA QUERIES
--------------------------------------------------------------*/

/*--------------------------------------------------------------
0.0 COLOUR REFERENCES
--------------------------------------------------------------*/
/*
Green:           #189960   bg & font
Very light grey: #ededed   bg
Light grey:      #bfbfbf   font
Mid grey:        #8c8989   font
Dark grey:       #333333   font
Very dark grey:  #282A2B   bg
*/

/*--------------------------------------------------------------
1.0 GENERAL
--------------------------------------------------------------*/
body {
	font-family: 'PT Sans', Helvetica, sans-serif;
  font-weight: 400;
	font-size: 16px;
  color: #333333;
}

#page-title-bar {
  max-height: 5.625em;
  background: url('../img/Holly Lodge Community Centre hompepage banner.jpg') no-repeat fixed center;
  margin-bottom: 0;
}

#page-title-bar h1 {
  color: white;
  font-size: 2em;
  text-align: center;
  margin: 0;
  margin-top: -0.5em;
  text-transform: uppercase;
}

/*--------------------------------------------------------------
2.0 TYPOGRAPHY
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica' , sans-serif;
}

a {
  color: #189960;
}

a:hover {
  color: #333333;
}
/*--------------------------------------------------------------
3.0 TOP SECTION
--------------------------------------------------------------*/
#top-bar {
  text-align: center;
  color: white;
  background-color: #189960;
  line-height: 2.8125em;
}

#top-bar a {
  color: white;
  text-decoration: underline;
}

#top-bar a:hover {
  text-decoration: none;
}

#site-title {
  min-height: 5.625em;
}

#site-title h1 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1.5em;
}

/* MAIN NAV MENU */
nav {
  border-top: 1px solid #ededed;
}

nav ul {
  margin: 30px 0;
  text-align: center;
}

nav li {
  display: inline;
  font-family: 'Montserrat', 'Helvetica' , sans-serif;
  text-transform: uppercase;
	padding: 0 10px;
}

nav li a {
  color: #333333;
}

nav li a:hover {
  text-decoration: none;
  color: #189960;
  padding-top: 1.875em;
  border-top: 3px solid #189960;
}

nav li .is-checked {
  color: #189960;
  padding-top: 1.875em;
  border-top: 3px solid #189960;
}

nav li a:focus {
  text-decoration: none;
  color: #189960;
  padding-top: 1.875em;
  border-top: 3px solid #189960;
}

/*--------------------------------------------------------------
4.0 JUMBOTRONS
--------------------------------------------------------------*/
#hero {
  min-height: 25em;
  background: url('../img/Holly Lodge Community Centre hompepage banner.jpg') no-repeat fixed center;
  margin-bottom: 0;
}

#hero h2,
#hero h3 {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.3125em;
  text-align: center;
  border-radius: 0.125em;
}

#hero h2 {
  font-size: 3.125em;
}

#hero .button-group {
  text-align: center;
  padding-top: 2em;
}

#hero .btn {
  text-transform: uppercase;
  font-family: 'Montserrat', 'Helvetica' , sans-serif;
  padding: 1em 2em;
}

#hero .btn1 {
  color: white;
  background-color: #189960;
  border: none;
  margin-right: 2em;
}

#hero .btn1:hover {
  color: #189960;
  background-color: white;
  border: none;
}

#hero .btn2 {
  color: #189960;
  background-color: white;
  border: none;
}

#hero .btn2:hover {
  color: white;
  background-color: #189960;
  border: none;
}

/* LATEST NEWS */
#latest {
  text-align: center;
}

#latest .latest-top {
  border-bottom: 1px solid #333333;
  padding-bottom: 2em;
}

#latest .latest-bottom {
  padding-top: 3em;
}

/*--------------------------------------------------------------
5.0 HOMEPAGE WIDGETS
--------------------------------------------------------------*/
#hp-widgets {
  padding: 2.25em 0 5em;
}

#hp-widgets h3 {
  text-align: center;
  text-transform: uppercase;
}

#hp-widgets .btn-case {
  margin-top: 2em;
  text-align: center;
}

#hp-widgets .btn {
  color: white;
  background-color: #189960;
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat', 'Helvetica' , sans-serif;
  padding: 1em 2em;
}

#hp-widgets .btn:hover {
  color: #189960;
  background-color: white;
  border: 1px solid #189960;
}

/*--------------------------------------------------------------
6.0 FOOTER
--------------------------------------------------------------*/
footer {
  text-align: center;
  color: #8c8989;
  background-color: #282A2B;
  min-height: 4em;
}

footer p {
  font-size: 0.75em;
  margin-top: 1.5em;
}

footer a {
  color: #bfbfbf;
}

footer a:hover {
  color: #8c8989;
}

/*--------------------------------------------------------------
7.0 EVENTS PAGE
--------------------------------------------------------------*/
#calendar-intro h3 {
  text-align: center;
  line-height: 1.5em;
  padding: 2em 0 2em;
}

#calendar {
  min-height: 16em;
  text-align: center;
  background-color: #ededed;
  padding-top: 3em;
}

/*--------------------------------------------------------------
8.0 NEWS PAGE
--------------------------------------------------------------*/
#news-index-grid {
  margin: 3em 0;
}

#news-index-grid img {
  width: 100%;
}

#news-index-grid .news-wrapper {
  border: 1px solid #ededed;
}

#news-index-grid .news-meta {
  padding: 1.5em;
}

#news-index-grid .news-separator {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  height: 0.375em;
  margin: 1em 0;
}

#news-index-grid .read-more {
  font-size: 0.85em;
  text-decoration: none;
}

#news-index-grid .read-more::after {
  content: "\21D2";
  margin-left: 0.5em;
}

/*--------------------------------------------------------------
X.0 MEDIA QUERIES
--------------------------------------------------------------*/
