/*--------------------------------------------------------------
### TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 COLOUR REFERENCES
1.0 GENERAL
2.0 TYPOGRAPHY
3.0 TOP SECTION
4.0 ???
X.0 MEDIA QUERIES
--------------------------------------------------------------*/

/*--------------------------------------------------------------
0.0 COLOUR REFERENCES
--------------------------------------------------------------*/
/*
Green:           #189960   bg & font
Very light grey: #ededed   bg
Light grey:      #bfbfbf   font
Mid grey:        #8c8989   font
Dark grey:       #333333   font
Very dark grey:  #282A2B   bg
*/

/*--------------------------------------------------------------
1.0 GENERAL
--------------------------------------------------------------*/
body {
	font-family: 'PT Sans', Helvetica, sans-serif;
  font-weight: 400;
	font-size: 16px;
  color: #333333;
}

/*--------------------------------------------------------------
2.0 TYPOGRAPHY
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica' , sans-serif;
}

/*--------------------------------------------------------------
3.0 TOP SECTION
--------------------------------------------------------------*/
#top-bar {
  color: white;
  background-color: #189960;
  line-height: 2.8125em;
}

#top-bar a {
  color: white;
}

#site-title {
  min-height: 5.625em;
}

#site-title h1 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1.5em;
}

/* MAIN NAV MENU */


/*--------------------------------------------------------------
4.0 ???
--------------------------------------------------------------*/


/*--------------------------------------------------------------
X.0 MEDIA QUERIES
--------------------------------------------------------------*/
